*{
    padding:0px;
    margin:0px;
}
body{
   font-family: 'Paytone One', sans-serif;
   background-color:#181A27;
   color:white;
   background-image: url(IMG_4970verysmall.jpg);
   background-repeat: no-repeat;  
   background-position-x: 0px;
   background-position-y: 400px;
}
img{
    width:100%;
}
.header{
    background-color: black;
    margin:0px;
    padding:15px;
    display:block;
}
.header ul{
    padding:0px;
    list-style: none;
    text-align: center;
    

}
.header ul li{
    display:inline-block;
    padding: 0px 05px;
}
.header h1{
    padding:0px;
    font-size:1.0em;

}
.burgermenu{
   
}
.burgermenu span{
    background:white;
    width:20px;
    height:4px;
    display:block;
    margin-bottom:2px;
}
.maintext{
    padding:20px 10px;

}
.maintext h1{
    font-size: 2.7em;
    line-height: 40px;
    width:200px;
    padding-bottom:10px;
}

.maintext h1:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 60%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid yellow; /* This creates the border. Replace black with whatever color you want. */
}
.maintext p{
    font-size:1em;
    padding:20px 0px 0px 0px;


}

.button{
    padding:0px 10px;
}
button{
    background-color:#922C73;
    color:white;
    padding:15px 40px;
    font-size: 1.4em;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    border:none;
}


@media screen and (min-width:375px){
    body{
        background-image: url(IMG_4970small.jpg);
        background-position-x: 0px;
        background-position-y: 500px;
    }
}
